{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Search</h1>
<table class="table table-bordered bg-secondary">

    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>Pages</th>
        <th>Price</th>
        <th>Language</th>
        <th>DOCUMENT</th>

    </tr>

        {% for i in book %}
    <tr>
        <td><img src="{{i.image.url}}" class="img-thumbnail" height="150px" width="150px"></td>

        <td>{{i.title}}</td>
        <td>{{i.author}}</td>
        <td>{{i.pages}}</td>
        <td>{{i.price}}</td>
        <td>{{i.language}}</td>
        <td><a href="{{i.pdf.url}}">Download</a></td>


    {% endfor %}
</table>

{% endblock %}